<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garden Blog</title>
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="shortcut icon" href="../images/arcticons_flora_rosa.png" type="image/x-icon">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@100&family=Nunito:wght@200&family=Open+Sans:wght@300&display=swap" rel="stylesheet">

</head>

<body>

    <header class="navigation_header">
        <img src="../static/images/arcticons_flora.png" alt="" class="img_logo">
    </header>

    <section class="navigation_body">
        <div class="retangulo">

            <img src="../static/images/clarity_avatar-solid.png" alt="" class="img_avatar">
            <h2><NAME></h2>
                <div class="inputBox">
                    <label for="name" class="LabelInput"> Nome Completo</label>
                    <br>
                    <input type="text" name ="name" id="name" class="inputUser" required>

                </div>
                <br><br>
                <div class="inputBox">
                    <label for="email" class="LabelInput"> Email</label>
                    <br>
                    <input type="text" name ="email" id="email" class="inputUser" required>
                </div>
        </div>

    </section>

 
</body>
</html>