
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garden Blog</title>
    <link rel="shortcut icon" href="../static/images/arcticons_flora.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/home.css">

    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@100&family=Nunito:wght@200&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
        
</head>


<body>

    <header class="header">
        <div class="navigation_header" id="navigation_header">
            <img src="../images/arcticons_flora.png" target="_blank" alt="img_logo" classe="img_logo">
            <a href="#" class="active">Home</a>
            <a href="#">About me</a>
            <a href="../views/publicacoes.html" target="_blank">Category</a>
            <a href="../views/login.html" target="_blank" class="login">Login</a>
        </div>
    </header>

    <section class="container">
        <div class="text-container">
            <h1 class="saudacao">Hi, I'm Brena!</h1>
        </div>
        <img src="../static/images/avatar.png" alt="" class="avatar">
    </section>

    <br>
    
    

    <div class="container-carrossel">

        <div class="container-conteudo">
            <img src="../static/images/life.png" alt="">
            <h3>About life</h3>
        </div>

        <div class="container-conteudo">
            <img src="../static/images/love.png" alt="">
            <h3>About love</h3>

        </div>

        <div class="container-conteudo">
            <img src="../static/images/growth.png" alt="">
            <h3>About growth</h3>
        </div>
    </div>

    <footer class="footer">
        <hr>
        <p>Site criado por Brena Freitas</p>
    </footer>
    


</body>
</html>