<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Garden Blog</title>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" href="arcticons_flora.png" type="image/x-icon">
</head>
<body>

    <header class="navigation_header">
        <img src="arcticons_flora.png" alt="" class="img_logo">
    </header>

    <div class="navigation_escopo">
        <section class="navigation_body">
        
            <div class="publications">
    
                <div class="publications_user">
                    <img src="octicon_feed-person-16.png" alt="" class="user">
                    <h3>usuario</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia excepturi <br>consequatur corporis eligendi, non sint qui repudiandae voluptatibus ut, <br>at quod quis reprehenderit magnam, molestias consectetur ex eius reiciendis. 
                    <br>Harum!</p>
                </div>
                <div class="publications_user">
                    <img src="octicon_feed-person-16.png" alt="" class="user">
                    <h3>usuario</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Mollitia excepturi <br>consequatur corporis eligendi, non sint qui repudiandae voluptatibus ut, <br>at quod quis reprehenderit magnam, molestias consectetur ex eius reiciendis.
                    <br> Harum!</p>
                </div>
    
    
            </div>
            
        </section>
    
        <aside>
    
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Delectus in nesciunt perferendis impedit quo sint perspiciatis eos ad laudantium fugiat, sunt officia eius at dignissimos dolorem aspernatur. Nihil, magnam. Fuga!</p>
        </aside>


    </div>
    

    
</body>
</html>


